.ui_input_form {
  position: relative;
  width: 642px;
  height: 80px;
  overflow: hidden;
  .ui_input_form__textarea {
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    .ui__textarea {
      padding: 4px 12px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid #b4b4b4;
      border-radius: 2px;
      line-height: 1.5;
      box-shadow: 0 1px 3px 0 hsla(0, 0%, 86.3%, 0.3);
      font-size: 12px;
      resize: none;
      text-indent: 0;
      &::placeholder {
        font-weight: bold;
        color: #dc5850;
      }
      &:focus {
        outline: none;
        border: 1px solid #22a7af;
        border-radius: 2px;
      }
    }
    .disabled {
      pointer-events: none;
      background-color: rgba(0, 0, 0, 0.041);
      &::placeholder {
        color: #dc57509a;
      }
    }
    .readonly {
      pointer-events: none;
      background-color: rgba(0, 0, 0, 0.041);
      color: rgb(82, 82, 82);
    }
    .ui_textarea__chars {
      position: absolute;
      bottom: 10px;
      right: 20px;
      font-size: 12px;
      color: #999;
      font-style: normal;
    }
  }
  .active-textarea {
    width: 88%;
  }
  .ui_textarea__btn {
    position: absolute;
    right: 0;
    margin-right: -72px;
    padding: 0 16px;
    width: 72px;
    height: 80px;
    line-height: 78px;
    color: #22a7af;
    font-size: 12px;
    font-weight: 400;
    background-color: transparent;
    box-shadow: 0 1px 3px 0 hsla(0, 0%, 86.3%, 0.3);
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      background-color: #eeeeee;
    }
  }
  .active-btn {
    margin-right: 0;
  }
}
