@import '../../styles/utils.scss';

.ui_input_form {
  position: relative;
  margin-top: 20px;
  width: 642px;
  height: 80px;
  overflow: hidden;
  .ui_input_form__textarea {
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    .ui__textarea {
      padding: 4px 12px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid $gray8;
      border-radius: 2px;
      line-height: 1.5;
      box-shadow: 0 1px 3px 0 $gray2;
      font-size: 12px;
      resize: none;
      text-indent: 0;
      &::placeholder {
        font-weight: bold;
        color: $idusRedYello;
      }
      &:focus {
        outline: none;
        border: 1px solid $idusGreenBlue;
        border-radius: 2px;
      }
    }
    .disabled {
      pointer-events: none;
      background-color: $transparentGray;
      &::placeholder {
        color: $transparentRed;
      }
    }
    .readonly {
      pointer-events: none;
      background-color: $transparentGray;
      color: $gray9;
    }
    .ui_textarea__chars {
      position: absolute;
      bottom: 10px;
      right: 20px;
      font-size: 12px;
      color: $gray3;
      font-style: normal;
    }
  }
  .active-textarea {
    width: 88%;
  }
  .ui_textarea__btn {
    position: absolute;
    right: 0;
    margin-right: -72px;
    padding: 0 16px;
    width: 72px;
    height: 80px;
    line-height: 78px;
    color: $idusGreenBlue;
    font-size: 12px;
    font-weight: 400;
    background-color: transparent;
    box-shadow: 0 1px 3px 0 $gray2;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      background-color: $gray10;
    }
  }
  .active-btn {
    margin-right: 0;
  }
}
