$gray1: #d9d9d9;
$gray2: hsla(0, 0%, 86.3%, 0.3);
$gray3: #999;
$gray4: #333;
$gray5: #acacac;
$gray6: #666;
$gray7: #f8f9fb;
$gray8: #b4b4b4;
$gray9: rgb(82, 82, 82);
$gray10: #eeeeee;
$idusRedYello: #dc5850;
$gold: #ffc801;
$transparentGray: rgba(0, 0, 0, 0.041);
$transparentRed: #dc57509a;
$idusGreenBlue: #22a7af;

@mixin cardForm {
  vertical-align: top;
  margin: {
    top: 16px;
    left: 16px;
  }
  border: {
    width: 1px;
    style: solid;
    color: $gray1;
    radius: 4px;
  }
  overflow: hidden;
  font-size: 12px;
  box-shadow: 0 1px 3px 0 $gray2;
  background: $gray7;
}
