.ui_card--side {
  position: relative;
  display: table;
  vertical-align: top;
  margin-left: 16px;
  margin-top: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  font-size: 12px;
  background: #f8f9fb;
  box-shadow: 0 1px 3px 0 hsla(0, 0%, 86.3%, 0.3);
  * {
    display: table-cell;
    vertical-align: top;
  }
  .ui_card__imgcover {
    overflow: hidden;
    .ui_card__img {
      width: 170px;
    }
  }
  .ui_card__txtarea {
    position: relative;
    padding-bottom: 45px;
    .ui_card__info {
      height: auto;
      padding: 0 20px;
      .ui_card__title {
        display: block;
        display: -webkit-box;
        height: 21px;
        font-size: 14px;
        line-height: 1.5;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 15px 0;
        font-weight: 700;
      }
      .ui_card__comment {
        color: #666;
        display: block;
        display: -webkit-box;
        height: 74px;
        width: 230px;
        line-height: 1.5;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-line;
        font-size: 14px;
      }
    }
  }
  .ui_card__rating {
    position: absolute;
    bottom: 0;
    padding: 14px 20px;
    width: 100%;
    height: auto;
    border: 0;
    box-sizing: border-box;
    .ui_rating_wrapper {
      .ui_rating {
        display: inline-block;
        color: #ffc801;
      }
      .ui_card__reviewer {
        display: inline-block;
        vertical-align: sub;
        font-size: 13px;
        color: #999;
      }
    }
  }
}
