@import '../../styles/utils.scss';

.ui_card--side {
  position: relative;
  display: table;
  @include cardForm;
  * {
    display: table-cell;
    vertical-align: top;
  }
  .ui_card__imgcover {
    overflow: hidden;
    .ui_card__img {
      width: 170px;
    }
  }
  .ui_card__txtarea {
    position: relative;
    padding-bottom: 45px;
    .ui_card__info {
      width: 230px;
      height: auto;
      padding: 0 20px;
      .ui_card__title {
        display: block;
        display: -webkit-box;
        margin: 15px 0;
        height: 21px;
        font: {
          size: 14px;
          weight: 700;
        }
        line-height: 1.5;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .ui_card__comment {
        color: $gray6;
        display: -webkit-box;
        height: 74px;
        line-height: 1.5;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-line;
        font-size: 14px;
      }
    }
  }
  .ui_card__rating {
    position: absolute;
    bottom: 0;
    padding: 14px 20px;
    width: 100%;
    height: auto;
    border: 0;
    box-sizing: border-box;
    .ui_rating_wrapper {
      .ui_rating {
        display: inline-block;
        color: $gold;
      }
      .ui_card__reviewer {
        display: inline-block;
        vertical-align: sub;
        font-size: 13px;
        color: $gray3;
      }
    }
  }
}
