.Main-Page {
  padding-top: 15%;
  width: 90%;
  a {
    display: inline-block;
    margin: 5%;
    padding: 20% 30%;
    width: 40%;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    background-color: gray;
    border-radius: 12px;
  }
}
